html{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000000;
}
body {
	width: 1310px;
	margin: 0;
	background-color: #FFFFFF;
}
main {
	clear: both;
	background-color: #FFFFFF;
}
section {
	background: #FFFFFF;
    color: #000000;
    height: auto;
}
.section p, .section h2 {
	color: #000000;
	margin: 5px 0px 0px 5px;
}
p {
	font-size: 1.25em;
	background-color: #FFFFFF;
	color:#000000;
}
figcaption, label, input, small {
	font-size: 1em;
	text-align:center;
}
nav a {
	font-size: 1.5em;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
}
nav li {
	display: inline-block;
	margin: 40px 40px 20px 40px;
}
h1 {
	font-size: 3em;
	color: #007d7b;
	text-transform: uppercase;
	float: left;
	position: absolute;
	margin: 25px 0px;
}
h2 {
	font-size: 2em;
	color: #000000;

	text-transform: uppercase;
	text-align: center;
}
nav {
	position: relative;
	float: right;
	background-color: #000000;
	color:#FFFFFF;
}
header {
	display: block;
}
#gallery {
    position: relative;
    margin: 10px;
	display: block;
	grid-column: 3;
	background-color: #FFFFFF;
}
figure {
    float: left;
    width: 420px;
    position: relative;
    display: block;
    margin: 5px;
    overflow: auto;
}

img {
    width: 420px;
	height: auto;
}
#contact {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 850px;
	text-align:center;
}

#contact h2, #contact h2 + p {
    margin: 10px auto auto 5px;
}

#contact form {
	background-color: #000000;
    text-align: center;
	color: #ffffff;
}

#contact label, [placeholder] {
    font-size: 16px;
	color:#FFFFFF;
}

[placeholder] {
    color: #007D7B;
}

button {
    background: #007D7B;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 420px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

button:active {
    color: #007D7B;
    background: #FFFFFF;
}
.clear { 
    clear: both; 
}
footer {
    text-align: center;
}
[href="#top"] {
    position:fixed;
    bottom:0px;
    right:0px;
    width: 80px;
    height: 40px;
    background: #007D7B;
    z-index: 1;
    text-align: center;
    padding: 5px;
}
article {
	background-color:#000000;
	justify-content: center;
	text-align: center;
}
article h2, article h3, article p {
	background-color: #000000;
	color: #ffffff;
}

@media screen and (max-width: 485px) {
	#gallery {
		grid-template-columns: 1fr;
	}
  }
  @media screen and (max-width: 880px) {
	#gallery {	
		grid-template-columns: 1fr 1fr;
		justify-content: center;
	}
  }
  @media screen and (max-width: 1300px) {
	#gallery {	
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: right;
	}
  }